--Wtricks Header Bar-->
    <div class="wtricks-headerbar">
        <a  href="http://wtricks.com.br" class="wtricks-logo">
            Wtricks • Tutoriais e Dicas do Mundo Digital
        </a>
    </div>
    <!--End of Wtricks Header Bar-->

    <div class="wrap">
        <!--Cabeçalho da página-->
        <div class="page-header">
            <h1>Galeria de Fotos responsiva com CSS e JS</h1>
            <p>
               Modelo simples de galeria de fotos usando apenas CSS e JS. Essa galeria trabalha
                com o modelo mais básico possível. Recomendado para quem quer apenas exibir algumas fotos, sem nenhum outra função mais avançada, ou então, usar como base para criar outro modelo mais complexo.
            </p>
        </div>

        <!-- Principal Section with the gallery code. If you want use only gallery code,
             you can copy all code bellow, with gallery-container.-->
        <section class="container gallery-container">

            <!--Slide-->
            <div class="mySlides fade"> <!-- 01 -->
                <div class="numbertext">01 / 05</div>
                <img class="imgslide" src="http://www.recicloteca.org.br/wp-content/uploads/2015/09/Arara_Azul_G.jpg" alt="Arara Azul"/>
                <div class="text">Arara Azul</div>
            </div>

            <div class="mySlides fade"> <!-- 02 -->
                <div class="numbertext">02 / 05</div>
                <img class="imgslide" src="http://s2.glbimg.com/ErYukI6eUMDIsikMjuZe7-LZgUg=/s.glbimg.com/jo/g1/f/original/2015/01/06/55555.jpg" alt="Arara Canindé"/>
                <div class="text">Arara Canindé</div>
            </div>

            <div class="mySlides fade"> <!-- 03 -->
                <div class="numbertext">03 / 05</div>
                <img class="imgslide" src="http://www.anilhascapri.com.br/novo/wp-content/uploads/2016/07/comprar-papagaio-verdadeiro.jpg" alt="Papagaio Verdadeiro"/>
                <div class="text">Amazona é um género de papagaios da ordem Psittaciformes, característico da América, existindo desde o sul do México até o Caribe e a América do Sul. São conhecidos, popularmente, como papagaios, louros, ajerus, ajurus, jerus e jurus</div>
            </div>

            <div class="mySlides fade"> <!-- 04 -->
                <div class="numbertext">04 / 05</div>
                <img class="imgslide" src="https://i1.wp.com/www.windycityparrot.com/wordpress/wp-content/uploads/31094569_s.jpg?fit=450%2C300&ssl=1" alt="Jandaia"/>
                <div class="text">Jandaia</div>
            </div>

            <div class="mySlides fade"> <!-- 05 -->
                <div class="numbertext">05 / 05</div>
                <img class="imgslide" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Tiriba-de-testa-vermelha.jpg/1200px-Tiriba-de-testa-vermelha.jpg" alt="Jandaia"/>
                <div class="text">Tiriba de testa vermelha</div>
            </div>
            <!--Final Slides-->

            <!--Navigation-->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </section>
        <!--End of galery-->

        <!-- end of page -->
        <footer class="page-footer">
            <p>by: <a href="http://wtricks.com.br">Wtricks Tutoriais</a> | <a href="https://github.com/wtricks/very-simple-gallery">Fork on GitHub</a> | <a href="https://goo.gl/T3P7az">See original tutorial</a></p>
        </footer>
    </div>


Resources
